In [1]:
# importando bibliotecas

# numericas
import numpy as np

# manipulacao de dados
import pandas as pd

# graficas
import matplotlib.pyplot as plt
import seaborn as sns

# utilidades
# from google.colab import drive

import warnings
warnings.filterwarnings('ignore')

from collections import Counter

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ImagineDogs/TranstornosMentais/main/df_limpo.csv')

In [3]:
from mlxtend.frequent_patterns import apriori

def apriori_comorbidades(df, agg_method='first', min_support=0.00173611111):
  '''
  Função para calcular apiori para as comorbidades dado um critério de agregação
  '''

  comorbidades = ['traumatismo',
 'prob_respiratorios',
 'avc',
 'convulsao',
 'has',
 'gravidez',
 'diabetes',
 'doenca_infecto']

  comorbidades.insert(0,'cod_paciente')

  df_comorbidades = df[comorbidades].copy()
  df_pacientes_comorbidades = df_comorbidades.groupby('cod_paciente').agg(agg_method).reset_index(drop=True)
  df_pacientes_comorbidades = df_pacientes_comorbidades.replace("SIM", True).replace("NAO INFORMADO", "NAO").replace("NAO", False)

  return apriori(df_pacientes_comorbidades, use_colnames=True, min_support=min_support)

In [4]:
apriori_comorbidades(df,'first')

     support                                   itemsets
0   0.022723                              (traumatismo)
1   0.014076                       (prob_respiratorios)
2   0.008043                                      (avc)
3   0.045043                                (convulsao)
4   0.087271                                      (has)
5   0.043032                                 (diabetes)
6   0.026141                           (doenca_infecto)
7   0.005630                   (convulsao, traumatismo)
8   0.002614                         (has, traumatismo)
9   0.004625                  (prob_respiratorios, has)
10  0.003821       (doenca_infecto, prob_respiratorios)
11  0.002212                           (convulsao, avc)
12  0.003620                                 (avc, has)
13  0.008848                           (convulsao, has)
14  0.003217                      (convulsao, diabetes)
15  0.002815                (convulsao, doenca_infecto)
16  0.025337                            (diabetes, has)
17  0.003418                      (doenca_infecto, has)
18  0.002815                 (doenca_infecto, diabetes)
19  0.001810  (doenca_infecto, prob_respiratorios, has)
20  0.002413                 (convulsao, diabetes, has)

In [5]:
apriori_comorbidades(df,'last')

     support                              itemsets
0   0.021516                         (traumatismo)
1   0.014076                  (prob_respiratorios)
2   0.009652                                 (avc)
3   0.048060                           (convulsao)
4   0.092298                                 (has)
5   0.046652                            (diabetes)
6   0.028755                      (doenca_infecto)
7   0.004826              (convulsao, traumatismo)
8   0.003418                    (has, traumatismo)
9   0.001810               (diabetes, traumatismo)
10  0.004424             (prob_respiratorios, has)
11  0.003217  (doenca_infecto, prob_respiratorios)
12  0.002413                      (convulsao, avc)
13  0.004826                            (avc, has)
14  0.001810                       (diabetes, avc)
15  0.008245                      (convulsao, has)
16  0.004424                 (convulsao, diabetes)
17  0.002614           (convulsao, doenca_infecto)
18  0.027147                       (diabetes, has)
19  0.002815                 (doenca_infecto, has)
20  0.002815            (doenca_infecto, diabetes)
21  0.001810                  (diabetes, avc, has)
22  0.002212            (convulsao, diabetes, has)

In [6]:
pacientes_repetidos = list((df['cod_paciente'].value_counts()>1).loc[lambda x : x == True].index)

In [7]:
df_repetidos = df[df['cod_paciente'].isin(pacientes_repetidos)]
df_unicos = df[~df['cod_paciente'].isin(pacientes_repetidos)]

In [8]:
df_repetidos.head()

,Unnamed: 0,data_internacao_real,data_cadastro,sexo,data_nascimento,uf,municipio,profissao_ocupacao,cod_paciente,unidade_cadastro,...,total_repeat,sum_los_hour,sum_outside_hour,cumsum,cumsum.1,cumsum.1(start),cod_paciente.1,start,stop,tempo_internado
1,1,2012-06-25,2012-08-02,F,1971-02-10,SP,RIBEIRAO PRETO,DESEMPREGADA,40,7,...,6011.5625,16268.26389,48092.5,1923.150000,0.000000,0.000000,40,0.000000,1923.150000,80.0
2,2,2013-04-12,2012-08-02,F,1971-02-10,SP,RIBEIRAO PRETO,DESEMPREGADA,40,7,...,6011.5625,16268.26389,48092.5,7633.650000,7633.650000,7633.650000,40,5710.500000,7633.650000,238.0
3,3,2014-11-12,2012-08-02,F,1971-02-10,SP,RIBEIRAO PRETO,DESEMPREGADA,40,7,...,6011.5625,16268.26389,48092.5,7825.098889,7825.098889,7825.098889,40,191.448889,7825.098889,8.0
4,4,2015-01-15,2012-08-02,F,1971-02-10,SP,RIBEIRAO PRETO,DESEMPREGADA,40,7,...,6011.5625,16268.26389,48092.5,8108.416111,8108.416111,8108.416111,40,283.317222,8108.416111,12.0
5,5,2015-04-23,2012-08-02,F,1971-02-10,SP,RIBEIRAO PRETO,DESEMPREGADA,40,7,...,6011.5625,16268.26389,48092.5,8206.851667,8206.851667,8206.851667,40,98.435556,8206.851667,4.0

In [9]:
df_unicos.head()

,Unnamed: 0,data_internacao_real,data_cadastro,sexo,data_nascimento,uf,municipio,profissao_ocupacao,cod_paciente,unidade_cadastro,...,total_repeat,sum_los_hour,sum_outside_hour,cumsum,cumsum.1,cumsum.1(start),cod_paciente.1,start,stop,tempo_internado
0,0,2012-07-12,NaN,F,1957-07-30,SP,RIBEIRAO PRETO,DONA DE CASA,39,43,...,0.0,1943.383333,0.0,1943.383333,1943.383333,0.0,39,0.0,1943.383333,81.0
9,9,2012-06-26,2012-08-02,F,1990-11-29,SP,SANTA ROSA DE VITERBO,NAO INFORMADO,41,54,...,0.0,1144.633333,0.0,1144.633333,1144.633333,0.0,41,0.0,1144.633333,48.0
10,10,2012-07-23,2012-08-02,F,1982-02-05,SP,SANTA RITA DO PASSA QUATRO,NAO INFORMADO,42,54,...,0.0,431.133333,0.0,431.133333,431.133333,0.0,42,0.0,431.133333,18.0
21,21,2012-07-27,2012-08-02,F,1989-08-22,SP,SERTAOZINHO,NAO INFORMADO,46,57,...,0.0,239.633333,0.0,239.633333,239.633333,0.0,46,0.0,239.633333,10.0
22,22,2012-07-23,2012-08-02,F,1994-08-07,SP,BATATAIS,NAO INFORMADO,47,54,...,0.0,1921.166667,0.0,1921.166667,1921.166667,0.0,47,0.0,1921.166667,80.0

In [10]:
apriori_comorbidades(df_repetidos)

     support                              itemsets
0   0.022905                         (traumatismo)
1   0.013966                  (prob_respiratorios)
2   0.006704                                 (avc)
3   0.049721                           (convulsao)
4   0.070391                                 (has)
5   0.043017                            (diabetes)
6   0.027933                      (doenca_infecto)
7   0.005587              (convulsao, traumatismo)
8   0.002235       (convulsao, prob_respiratorios)
9   0.002235             (prob_respiratorios, has)
10  0.003911  (doenca_infecto, prob_respiratorios)
11  0.002793                            (avc, has)
12  0.010056                      (convulsao, has)
13  0.003911                 (convulsao, diabetes)
14  0.004469           (convulsao, doenca_infecto)
15  0.022346                       (diabetes, has)
16  0.002235                 (doenca_infecto, has)
17  0.002793            (doenca_infecto, diabetes)
18  0.003352            (convulsao, diabetes, has)

In [11]:
apriori_comorbidades(df_unicos)

     support                                   itemsets
0   0.022620                              (traumatismo)
1   0.014138                       (prob_respiratorios)
2   0.008797                                      (avc)
3   0.042413                                (convulsao)
4   0.096764                                      (has)
5   0.043041                                 (diabetes)
6   0.025134                           (doenca_infecto)
7   0.005655                   (convulsao, traumatismo)
8   0.003456                         (has, traumatismo)
9   0.002199                    (diabetes, traumatismo)
10  0.005969                  (prob_respiratorios, has)
11  0.001885             (diabetes, prob_respiratorios)
12  0.003770       (doenca_infecto, prob_respiratorios)
13  0.002513                           (convulsao, avc)
14  0.004084                                 (avc, has)
15  0.008168                           (convulsao, has)
16  0.002828                      (convulsao, diabetes)
17  0.001885                (convulsao, doenca_infecto)
18  0.027019                            (diabetes, has)
19  0.004084                      (doenca_infecto, has)
20  0.002828                 (doenca_infecto, diabetes)
21  0.001885               (diabetes, has, traumatismo)
22  0.002513  (doenca_infecto, prob_respiratorios, has)
23  0.001885                 (convulsao, diabetes, has)